.news-digg {
	top: 0.8em;
	left: 0;
	text-align: center;
	font-size: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background: url(digg/shade-news.gif) no-repeat;
}

.news-digg li {
	margin: 0;
	padding: 0;
}
.digg-count a , .digg-count span, .digg-count-s a, .digg-count-s span {
	display: block;
	padding: 10px 0 4px 0;
	text-decoration: none;
	width: 50px;
	min-height: 40px;
	color: #93883F;
    text-align: center;
}

.news-summary .digg-count strong, .news-full .digg-count strong, .news-summary .digg-count-s strong, .news-full .digg-count-s strong {
	font-size: 160%;
	font-weight: normal;
	letter-spacing: -1px;
	line-height: 1;
	display: block;
	color: #736926;
}

.news-summary .digg-count-s strong, .news-full .digg-count-s strong {
	font-size: 160%;
}

.digg-count img, .digg-count-s img {
	top: 0;
	left: 0;
	border: none;
}

.digg-count a:hover, .digg-count-s a:hover, .digg-count a:hover strong, .digg-count-s a:hover strong {
	color: #998D43;
}

li.digg-it, li.undigg-it, li.dugg-it, li.buried-it {
	margin-top: 1px;
	padding: 0 0 5px 0;
	background: url(digg/digg-box-2.gif) 0 100%;
	float: left;
} /*IE6*/

.digg-it a, .digg-it span, .undigg-it a, .undigg-it span, .dugg-it a, .dugg-it span, .buried-it a, .buried-it span {
	font-weight: bold;
	display: block;
	margin-bottom: -5px;
	padding: 4px 1px 5px 1px;
	background: url(digg/digg-box-2.gif) 0 0;
	width: 49px;
	text-decoration: none;
    text-align: center;
}

li.digg-it:hover {
	background-position: -300px 100%;
}

li.digg-it:hover a {
	background-position: -300px 0;
}

.digg-it span, .dugg-it span, .buried-it span {
	color: #999;
}
